* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: lightslategrey;
  background-position: center;
  background-size: cover;
}

.form-box {
  width: 700px;
  position: relative;
  margin: 6% auto;
  background: lightsteelblue;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.upload-box {
  position: relative;
  margin-top: 30px;
  padding: 3px;
  border-radius: 100%;
  border: 2px dashed dimgray;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-box.active {
  border: 5px solid lightslategray;
}

.upload-box img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.upload-box .icon img {
  height: 70px;
  width: 75px;
  border-radius: 0%;
}

.upload-box header {
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
  color: dimgray;
}

.upload-box span {
  font-size: 12px;
  color: gray;
  margin: 5px;
}

.upload-box button {
  padding: 5px 5px;
  font-size: 17px;
  font-weight: 600;
  border: none;
  outline: none;
  background: rgb(161, 185, 221);
  color: darkslategray;
  border-radius: 5px;
  cursor: pointer;
}

.upload-box button:hover {
  text-decoration: underline;
  color: teal;
}

.input-group {
  position: relative;
  margin: 50px;
  width: 280px;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  background: rgb(140, 136, 230);
  border: 0;
  outline: none;
  border-radius: 30px;
  color: rgba(54, 30, 160, 0.8);
}

.submit-btn:hover {
  color: rgba(54, 30, 160, 1);
  font-weight: bold;
  box-shadow: 0 0 20px 9px #01168f1f;
}

#register-btn.submit {
    background: #d3d3d3;
    pointer-events: none;
    box-shadow: 0 0 20px 9px #01168f1f;
    font-weight: bold;
}

.status-container {
  margin-top: 1.5rem;
}