*{
    margin: 0;
    padding: 0;
}
.test{
    height: 100%;
    width: 100%;
    background-color:lightslategrey;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background:lightsteelblue;
    padding: 5px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e101ff1f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background:  transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, rgb(202, 181, 250),rgb(140, 136, 230));
    border-radius: 30px;
    transition: .5s;
}