*{
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}

html 
{
  scroll-behavior: smooth;
}

@media all and (orientation: landscape)
{
    body 
    {
        flex-direction: row;
    }
}

@media all and (orientation: portrait)
{
    body 
    {
        flex-direction: column;
    }
}

body 
{
  background-image: url("./assets/br.jpg");
  overflow-x: hidden;
}

nav{
    display: flex;
    align-items: center;
    min-height: 7vh;
    width: 100%;
    background-color: rgba(47, 79, 79, 0.877);
    position: fixed;
}

.logo
{
    width: 30%;
    margin-left: 2vw;
    float: left;
    cursor: pointer;
}

.logo a
{
  text-decoration: none;
  transition: 0.5s all ease;
  color:bisque;
  letter-spacing: 0.7vw;
  font-size: 4.5vh;
}

.logo a:hover
{
  color:chocolate;
}

.tabs
{
    list-style: none;
    justify-content: space-around;
    display: flex;
    width: 70%;
    float: right;
}

.tab
{
    color: gainsboro;
    text-decoration: none;
    font-size: 2vh;
    letter-spacing: 0.12vw;
    border-bottom: 2px dashed gray;
    padding: 5px 2px;
    margin-right: 0.5vw;
    overflow: hidden;
    transition: 0.5s all ease;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.tab:hover 
{
    color: black;
    border-bottom: 2px solid black; 
    font-weight: bold;
}

.tab.active
{
    color: greenyellow;
    text-transform: uppercase;
    border-bottom: 2px solid black; 
    font-weight: bold;
}

.nav-icon
{
    display: none;
    cursor: pointer;
}

.nav-icon div
{
    width: 25px;
    height: 3px;
    background-color:rgb(96, 190, 1);
    margin: 5px;
    transition: all 0.5s ease;
}


@media screen and (max-width: 768px)
{
    .tabs
    {
        position: absolute;
        right: 0;
        height: 93vh;
        top: 7vh;
        background-color: rgba(37, 63, 63, 0.877);
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .tabs li
    {
        opacity: 0;
    }

    .nav-icon
    {
        display: block;
        margin-left: 50vw;
    }
}

.nav-active
{
    transform: translateX(0%);
}

@keyframes tabsFade
{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1
{
    transform: rotate(-405deg) translate(-5px, 6px);
    background-color:chocolate;
}

.toggle .line2
{
    opacity: 0;
}

.toggle .line3
{
    transform: rotate(405deg) translate(-5px, -6px);
    background-color: chocolate;
}

section 
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
}

section:nth-child(even) 
{
    background: rgba(255, 255, 255, 0.774);
    color: rgb(1, 114, 114);
    font-size: 5vh;
} 

section:nth-child(odd) 
{
    background: rgba(101, 119, 85, 0.671);
    color: white;
    font-size: 5vw;
} 

section:before 
{
    content: attr(data-text);
    color: #262626;
    font-size: 6vw;
}

#projects 
{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items:center;
}

header {text-align: center;}

/************************** PROJECTS ***************************************/
@keyframes slideDown {
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .wrapper {
    /* max-width: 425px; */
    width: 100%;
  }
  
  .cards {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 1fr 1fr;
    /* overflow: auto; */
    gap: 0.5rem;
    margin-left: 1vw;
    margin-right: 2vw;
  }
  
  .cards .card {
    /* width: calc(50% - 13px); */
    height: 30vh;
    width: 45vw;
    background-color: rgba(241, 241, 241, 0.966);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    padding: 0.5vh;
    border: none;
    box-shadow: 0 1vh #303030a1;
    margin-bottom: 2vh;
    margin-right: 1vw;
    /* width: 100%; */
    /* min-width: 220px; */
  }
  
  .cards .cpu {
    background-image: linear-gradient(
        115deg,
        rgba(182, 177, 177, 0.8),
        rgba(56, 56, 56, 0.7)
      ),
      url("./assets/cpu.jpg");
    background-size: cover;
  }
  
  .cards .drone {
    background-image: linear-gradient(
        115deg,
        rgba(206, 190, 190, 0.7),
        rgba(56, 56, 56, 0.5)
      ),
      url("./assets/drone.png");
    background-size: cover;
  }
  
  .cards .ai {
    background-image: linear-gradient(
        115deg,
        rgba(204, 199, 199, 0.8),
        rgba(56, 56, 56, 0.5)
      ),
      url("./assets/AI.png");
    background-size: cover;
  }
  
  .cards .sat {
      background-image: linear-gradient(
          115deg,
          rgba(204, 199, 199, 0.8),
          rgba(56, 56, 56, 0.5)
        ),
        url("./assets/satellite.jpg");
      background-size: cover;
    }
  
  .card:hover {
    transition: 0.25s ease-in;
    /* border: 3px solid chocolate; */
    /* color: greenyellow; */
    color: bisque;
  }
  
  .cards .card h2 {
    margin: auto auto;
    font-size: 3vh;
    padding: 0 4rem;
    overflow: hidden;
  }
  
  .card-content {
    padding: 5vh 4vw;
    overflow: auto;
    height: 100%;
    cursor: default;
    text-align: center;
  }
  
  .card-content > * {
    transform: translateY(-35px);
    opacity: 0;
  }
  
  .card-content h2 {
    margin-bottom: 5vh !important;
    animation: slideDown 0.5s ease-out forwards;
    color: bisque;
  }
  
  .card-content img {
    width: 40%;
    background-color: #fff;
    animation: slideDown 0.5s ease-out 0.2s forwards;
  }
  
  .card-content p {
    margin-top: 1.5rem;
    color: #fff;
    animation: slideDown 0.5s ease-out 0.4s forwards;
    font-size: 3vh;
    text-align: initial;
  }

/************************** GALLERY ***************************************/

.container{
    display: flex;
    width: 95vw;
    margin-top: 5vh;
    margin-right: 2vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    border-radius: 50px;
    flex: 0.5;
    transition: flex 0.5s ease-in;
    color: whitesmoke;
    cursor: pointer;
    margin: 0.5vw;
    overflow: hidden;
}

.panel h3{
    position: relative;
    top: 2%;
    left: 5%;
    font-size: 20px;
    opacity: 0;
}

.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 1s ease-in;
}

.address h3{
    margin-top: 15px;
}
.achievement-text {
    width: 70%;
    margin: auto;
}