*,
∫ ::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body,
input,
textarea,
button,
select {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
optgroup,
select,
.disclosure__toggle,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

a,
button,
[role="button"],
input,
label,
select,
.disclosure__toggle,
textarea {
  touch-action: manipulation;
}

button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  padding: 10px 11px 10px 11px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

main {
  padding-top: 70px;
}

ul li,
ol li {
  color: #000;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-align: -webkit-match-parent;
}

p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

svg:not(:root) {
  overflow: hidden;
}

@media only screen and (max-width: 989px) {
  input,
  textarea,
  select,
  .disclosure__toggle,
  button {
    font-size: 16px;
  }
}

/*** Dropdown menu ***/
.site-nav--has-dropdown:hover .site-nav__dropdown,
.site-nav--has-dropdown:focus .site-nav__dropdown {
  display: block;
}

.site-header__icon:focus,
.search-bar__submit:focus,
.search-bar__close:focus {
  outline: none;
}

/*** Mobile Nav ***/
.mobile-nav--open .icon-close {
  display: none;
}

.mobile-nav--close .icon-hamburger {
  display: none;
}

.mobile-nav-wrapper .js-menu--is-open {
  display: block;
}

.js-menu--is-open {
  display: block;
}

body.mobile-menu-open .mobile-nav-wrapper {
  max-height: 77vh !important;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}
